$color_boton: #38726c;
$color_fondo: #d5ddbc;
$color_letras: #414066;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  background-color: $color_fondo;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 100vh;
  .card {
    // border: 1px solid black;
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    box-shadow: 4px 4px 10px;
    border-radius: 10px;
    .card__imagen {
      width: 100%;
      img {
        width: 100%;
        border-radius: 10px 10px 0px 0px;
      }
    }
    .card__texto {
      width: 100%;
      color: $color_letras;
      h2 {
        padding: 10px;
      }
      p {
        padding: 10px;
      }
      .boton {
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
        a {
          color: white;
          width: 120px;
          padding: 5px;
          font-size: 24px;
          background-color: $color_boton;
          border-radius: 9px;
          margin-bottom: 10px;
        }
      }
    }
  }
  .card:hover {
    img {
      filter: grayscale(90%);
    }
  }
}
